<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header class="d-flex row justify-content-center text-center my-5 w-100">
        <h1>Lista de Productos</h1>
        <a href="/" class="btn btn-primary w-auto">Ir a Administrador de Productos</a>
    </header>
    <div class="container w-75">
        <% if (productos.length===0) { %>
        <div class="alert alert-danger" role="alert">
            No hay productos disponibles.
        </div>
        <% } else { %>
        <table class="table">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Title </th>
                    <th> Price </th>
                    <th> Thumbnail </th>
                </tr>
            <tbody>
                <% productos.forEach( (producto) => { %>
                <tr>
                    <th scope="row"> <%= producto.id %> </th>
                    <td> <%= producto.title %> </td>
                    <td> <%= producto.price %> </td>
                    <td>
                        <img src=<%= producto.thumbnail %> alt="foto de productos">
                    </td>
                </tr>
                <% }); %>
            </tbody>
            </thead>
        </table>
        <% } %>
    </div>
</body>

</html>